@use '../util' as u;
html {
  box-sizing: border-box;
  font-size: 93.75%; //default font size is 15px as frontend mentor style guide
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
  font-family: u.$fRegular;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3 {
  margin-top: 0;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
p {
  margin-top: 0;
  line-height: 1.6;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
