@use '../util' as u;
section.create {
  padding-bottom: u.rem(80);
  & .title {
    margin-bottom: 3rem;
  }
  & .title h2 {
    font-family: u.$fThin;
    font-size: clamp(2rem, 1rem + 2vw, 4rem);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    flex: 1;
  }
  & .title button {
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0.5rem 1.5rem;
    background-color: var(--white);
    color: var(--black);
    transition: 0.5s;
    letter-spacing: 3px;
    cursor: pointer;
  }
  & .title button:hover {
    color: var(--white);
    background-color: var(--black);
  }

  //In mobile
  @include u.breakpoint-down(medium) {
    & .title h2 {
      text-align: center;
    }
    & .title button {
      display: none;
    }
  }
}
