@use '../util' as u;
footer {
  background-color: var(--black);
  color: var(--white);
  position: relative;
  padding-block: 3rem;
  overflow: hidden;

  @include u.breakpoint-down(medium) {
    text-align: center;
    & .flex {
      justify-content: center;
      align-items: center;
    }
  }

  & .container {
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    @include u.breakpoint-down(medium) {
      flex-direction: column;
    }
  }

  & .left__nav {
    margin-top: 2rem;
    gap: 1rem;
    @include u.breakpoint-down(medium) {
      flex-direction: column;
    }
  }

  & .social {
    gap: 1rem;
    margin-bottom: 1.5rem;
    @include u.breakpoint-up(medium) {
      justify-content: flex-end;
    }
  }

  & p {
    color: var(--dark-gray);
    font-size: 0.8rem;
  }

  & .attribution {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: u.rem(12);
    padding: 0.5rem;

    & a {
      color: magenta;
    }
  }
}
