@use '../util' as u;
// ----------------------
// Header----------------
// ----------------------
header {
  background-color: transparent;
  min-height: u.rem(80);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  @include u.breakpoint-down(medium) {
    min-height: u.rem(60);
    & .logo {
      width: u.rem(150);
    }
  }
  @include u.breakpoint-up(medium) {
    & img:last-of-type {
      display: none;
    }
  }
}
nav {
  @include u.breakpoint-down(medium) {
    display: none;
  }
  & ul li a {
    padding-inline: u.rem(10);
    position: relative;

    &:after {
      position: absolute;
      content: '';
      height: u.rem(1);
      width: u.rem(30);
      background-color: var(--white);
      left: 50%;
      transform: translate(-50%);
      bottom: u.rem(10);
      opacity: 0;
      transition: 0.3s;
    }
    &:hover:after {
      bottom: u.rem(-10);
      opacity: 1;
    }
  }
}
section.landing {
  background-image: u.$mHero;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black);

  @include u.breakpoint-up(large) {
    background-image: u.$hero;
  }

  & .container {
    min-height: 100vh;
    align-items: center;
    @include u.breakpoint-down(medium) {
      justify-content: center;
    }

    & span {
      display: block;
      font-family: u.$fThin;
      font-size: clamp(u.rem(60), u.rem(15) + 4vw, u.rem(100));
      border: 3px solid var(--white);
      text-transform: capitalize;
      padding: u.rem(10);

      @include u.breakpoint-up(medium) {
        flex-basis: 60%;
      }
    }
  }
}
